body {
	background: linear-gradient(180deg, #FE0000 16.66%,
			#FD8C00 16.66%, 33.32%,
			#FFE500 33.32%, 49.98%,
			#119F0B 49.98%, 66.64%,
			#0644B3 66.64%, 83.3%,
			#C22EDC 83.3%);
	text-transform: uppercase;
}

/* The hero image */
.hero-image {
	background-image: url(/assets/imgs/discord-avatar-512-7B9X0.gif);
	height: 169px;
	max-width: 100%;
	background-position: center;
	position: relative;
	object-fit: fill;
}

/* Places text in the middle of the image */
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

ul {
	list-style-type: none;
	text-transform: uppercase;
}

/* Google Maps */
#map {
	height: 350px;
	/* The height is 400 pixels */
	width: 350px;
	/* The width is the width of the web page */
}

#left-panel {
	margin-left: auto;
	margin-right: 35px;
	margin-bottom: 50px;
	height: min-content;
	width: min-content;
	border: solid;
	text-align: center;
	float: left;
	padding-top: 45px;
	background: linear-gradient(#E5ABD0 57.14%,
			#C74D52 71.425%);
	color: black;
	position: relative;
}

#loc-ul a {
	text-decoration: none;
	color: #402342
}

#loc-ul a:hover {
	text-decoration: underline;
}

/* News */
#inner-news {
	width: 1012px;
}

/* Twitter News */
#inner-twitter {
	float: right;
	padding: 5px;
}

/* Footer */
footer {
	background: linear-gradient(#E5ABD0 57.14%,
			#C74D52 71.425%);
	color: black;
	text-align: center;
	margin-top: 5px;
}